@import '../../styles/colors.scss';
.redbrown * {
    color: $redbrown;
}

.redbrown a {
    font-size: 18px;
    line-height: 24px;
}

div.container {
    padding: 10px;
    height: 100%;
    & * {
        margin: 0 auto;
        text-align: center;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
}

form,
.can-active {
    height: 100%;
}

* {
    color: white;
}

div.buttons {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    margin-bottom: 50px !important;
    left: 0;
    & .inner {
        height: 100%;
        width: 50%;
        max-width: 500px;
        background-color: inherit;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        align-self: flex-end;
        flex-wrap: nowrap;
        justify-content: center;
        &>button {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            align-content: flex-end;
            bottom: 0;
            background-color: inherit;
            padding: 20px;
            border: 1px solid white;
            width: 80%;
            & a {
                font-size: 18px;
                line-height: 24px;
                font-weight: 600;
            }
            & div.icon {
                width: 50px;
                height: 30px;
                background-image: url('../../../assets/icons/next_white@1x.png');
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: inherit;
                background-origin: content-box;
            }
            &:hover,
            &:hover * {
                cursor: pointer;
                background-color: white;
                color: $redbrown;
            }
            &:hover div.icon {
                background-image: url('../../../assets/icons/Next@1x.png');
            }
        }
    }
}

input.input {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    margin-top: 30px !important;
    padding: 15px;
    width: 80%;
    font-size: 18px;
    line-height: 24px;
}

p.error-text {
    margin-top: 20px !important;
    background-color: inherit;
    &::before {
        content: '';
        background-image: url('../../../assets/icons/Error@1x.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: inherit;
        display: inline-block;
        height: 20px;
        width: 20px;
    }
}

input.error-input {
    border: 1px solid $redbrown !important;
    color: $redbrown !important;
}

.error-list {
    color: $redbrown !important;
}
