<body>
    <div class="body">

        <div class="header">
            <div class="back left">

            </div>
            <div class="center logo-2">

            </div>
            <div class="forth right">

            </div>
        </div>
        <div class="info center">
            <a class="center name white">John Cena</a>
        </div>

        <div class="auth">
            <div class="container">
                <div class="codinglogo">
                    <img src="../../../assets/icons/Code@1x.png" alt="codeLogo">
                </div>
                <div class="form-element">
                    <div class="redbrown">
                        <a>Welcome to testing assigment at ZENTITY</a>
                    </div>
                    <div class="buttons">
                        <div class="inner">
                            <button class="next" (click)="goToAuth()"><a>Start</a><div class="icon next"></div></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</body>
