<body>
    <div class="body">

        <div class="header">
            <button class="back left" *ngIf="back">
                <img src="../../../assets/icons/next_white@1x.png" alt="back" class="mirrored mg-left-20x">
            </button>
            <div class="center logo-2">

            </div>
            <div class="forth right">

            </div>
        </div>
        <div class="info center">
            <a class="center name white">John Cena</a>
        </div>

        <div class="auth">
            <app-register (showBack)="showBack($event)"></app-register>
        </div>

    </div>

</body>
