<div class="container">
    <div class="codinglogo">
        <img src="../../../assets/icons/Code@1x.png" alt="codeLogo">
    </div>
    <div class="form-element">
        <form>
            <div class="redbrown">
                <a>Welcome to testing assigment at ZENTITY</a>
            </div>
            <div class="buttons">
                <div class="inner">
                    <button class="next"><a>Start</a><div class="icon next"></div></button>
                </div>
            </div>
        </form>
    </div>
</div>
